O xlrd e o openpyxl devem ser instalados para que possamos lê e manipular arquivos excel

In [347]:
!pip install xlrd==1.2.0
!pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd==1.2.0 in /usr/local/lib/python3.7/dist-packages (1.2.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [348]:
import pandas as pd
import openpyxl 
import datetime as dt
from datetime import datetime
from pandas import Timestamp
import xlrd
import time

In [350]:
def mud_uf(row):
    if row['UF'] == 'ACRE':
        return 'AC'
    elif row['UF'] =='ALAGOAS':
        return 'AL'
    elif row['UF'] =='AMAPÁ':
        return 'AP'
    elif row['UF'] =='AMAZONAS':
        return 'AM'
    elif row['UF'] =='BAHIA':
        return 'BA'
    elif row['UF'] =='CEARÁ':
        return 'CE'
    elif row['UF'] =='DISTRITO FEDERAL':
        return 'DF'
    elif row['UF'] =='ESPIRITO SANTO ':
        return 'ES'
    elif row['UF'] =='GOIÁS':
        return 'GO'
    elif row['UF'] =='MARANHÃO':
        return 'MA'
    elif row['UF'] =='MATO GROSSO':
        return 'MT'
    elif row['UF'] =='MATO GROSSO DO SUL':
        return 'MS'
    elif row['UF'] =='MINAS GERAIS':
        return 'MG'
    elif row['UF'] =='PARÁ':
        return 'PA'
    elif row['UF'] =='PARAÍBA':
        return 'PB'
    elif row['UF'] =='PARANÁ':
        return 'PR'
    elif row['UF'] =='PERNAMBUCO':
        return 'PE'
    elif row['UF'] =='PIAUÍ':
        return 'PI'
    elif row['UF'] =='RIO DE JANEIRO':
        return 'RJ'
    elif row['UF'] =='RIO GRANDE DO NORTE':
        return 'RN'
    elif row['UF'] =='RIO GRANDE DO SUL':
        return 'RS'
    elif row['UF'] =='RONDÔNIA':
        return 'RO'
    elif row['UF'] =='RORAIMA':
        return 'RR'
    elif row['UF'] =='SANTA CATARINA':
        return 'SC'
    elif row['UF'] =='SÃO PAULO':
        return 'SP'
    elif row['UF'] =='SERGIPE':
        return 'SE'
    elif row['UF'] =='TOCANTINS':
        return 'TO'
    else:
        return row['UF']

In [351]:
def mud_mes(row):
    if row['Mes'] == 'Jan':
        return '01'
    elif row['Mes'] =='Fev':
        return '02'
    elif row['Mes'] =='Mar':
        return '03'
    elif row['Mes'] =='Abr':
        return '04'
    elif row['Mes'] =='Mai':
        return '05'
    elif row['Mes'] =='Jun':
        return '06'
    elif row['Mes'] =='Jul':
        return '07'
    elif row['Mes'] =='Ago':
        return '08'
    elif row['Mes'] =='Set':
        return '09'
    elif row['Mes'] =='Out':
        return '10'
    elif row['Mes'] =='Nov':
        return '11'
    elif row['Mes'] =='Dez':
        return '12'
    else:
        return row['Mes']

.

  Diesel

In [352]:
df_combustivelD1 = pd.read_excel('venda-combustiveis-M3.xlsx', sheet_name='DPCache_m3_2', nrows=1081, engine = "openpyxl")

In [353]:
df_d= df_combustivelD1.melt(id_vars =['ANO','COMBUSTÍVEL','ESTADO','UNIDADE'], var_name='Mes', value_name='Volume');

In [354]:
df_d = df_d[(df_d['Mes'] != 'TOTAL')]
df_d = df_d[(df_d['Mes'] != 'REGIÃO')]

In [355]:
times = datetime.now()
df_d['Created_at']= pd.to_datetime(Timestamp(times))

Renomenado e alterando os tipos dos dados

In [356]:
df_d=df_d.rename({'COMBUSTÍVEL': 'Product'}, axis = 1)
df_d['Product'] = df_d['Product'].astype('string')
df_d=df_d.rename({'UNIDADE': 'Unit'}, axis = 1)
df_d['Unit'] = df_d['Unit'].astype('string')
df_d['Volume'] = df_d['Volume'].astype(float)
df_d['Mes'] = df_d.apply(mud_mes, axis=1)

In [357]:
df_d=df_d.rename({'ESTADO': 'UF'}, axis = 1)
df_d['UF'] = df_d.apply(mud_uf, axis=1)
df_d['UF'] = df_d['UF'].astype('string')

Concatenando mês e ano

In [358]:
df_d['Year_month']=pd.to_datetime

In [359]:
df_d['Year_month'] = pd.to_datetime(df_d['Mes'].map(str) + df_d['ANO'].map(str)).dt.to_period('M')

Ordenando as colunas da tabela

In [360]:
df_d = df_d[['Year_month', 'UF', 'Product', 'Unit', 'Volume', 'Created_at']]

In [361]:
display(df_d)

,Year_month,UF,Product,Unit,Volume,Created_at
1080,2013-01,RO,ÓLEO DIESEL S-10 (m3),m3,81453.67,2022-08-08 18:50:54.787273
1081,2013-01,AC,ÓLEO DIESEL S-10 (m3),m3,1483.00,2022-08-08 18:50:54.787273
1082,2013-01,AM,ÓLEO DIESEL S-10 (m3),m3,6836.30,2022-08-08 18:50:54.787273
1083,2013-01,RR,ÓLEO DIESEL S-10 (m3),m3,1475.30,2022-08-08 18:50:54.787273
1084,2013-01,PA,ÓLEO DIESEL S-10 (m3),m3,40913.48,2022-08-08 18:50:54.787273
...,...,...,...,...,...,...
14035,2020-12,RS,ÓLEO DIESEL (OUTROS ) (m3),m3,10.00,2022-08-08 18:50:54.787273
14036,2020-12,MS,ÓLEO DIESEL (OUTROS ) (m3),m3,0.00,2022-08-08 18:50:54.787273
14037,2020-12,MT,ÓLEO DIESEL (OUTROS ) (m3),m3,90.00,2022-08-08 18:50:54.787273
14038,2020-12,GO,ÓLEO DIESEL (OUTROS ) (m3),m3,NaN,2022-08-08 18:50:54.787273
14039,2020-12,DF,ÓLEO DIESEL (OUTROS ) (m3),<NA>,NaN,2022-08-08 18:50:54.787273

Tipos dos dados

In [362]:
df_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12960 entries, 1080 to 14039
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year_month  12960 non-null  period[M]
 1   UF          12960 non-null  string
 2   Product     12960 non-null  string
 3   Unit        12948 non-null  string
 4   Volume      12586 non-null  float64
 5   Created_at  12960 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), period[M](1), string(3)
memory usage: 708.8 KB

.

.

Combustíveis derivados de petróleo

In [363]:
df_combustivelP1 = pd.read_excel(r'venda-combustiveis-M3.xlsx', sheet_name='DPCache_m3', nrows=4537, engine = "openpyxl")

In [364]:
df_p= df_combustivelP1.melt(id_vars =['ANO','COMBUSTÍVEL','ESTADO','UNIDADE'], var_name='Mes', value_name='Volume');

In [365]:
df_p = df_p[(df_p['Mes'] != 'REGIÃO')]
df_p = df_p[(df_p['Mes'] != 'TOTAL')]

In [366]:
times = datetime.now()
df_p['Created_at']= Timestamp(times)

Renomenado e alterando os tipos dos dados

In [367]:
df_p=df_p.rename({'COMBUSTÍVEL': 'Product'}, axis = 1)
df_p['Product'] = df_p['Product'].astype('string')
df_p=df_p.rename({'UNIDADE': 'Unit'}, axis = 1)
df_p['Unit'] = df_p['Unit'].astype('string')
df_p['Volume'] = df_p['Volume'].astype(float)
df_p['Mes'] = df_p.apply(mud_mes, axis=1)

In [368]:
df_p=df_p.rename({'ESTADO': 'UF'}, axis = 1)
df_p['UF'] = df_p.apply(mud_uf, axis=1)
df_p['UF'] = df_p['UF'].astype('string')

In [369]:
df_p['Year_month'] = pd.to_datetime(df_p['Mes'].map(str) + df_p['ANO'].map(str)).dt.to_period('M')

Ordenando as colunas da tabela

In [370]:
df_p = df_p[['Year_month', 'UF', 'Product', 'Unit', 'Volume', 'Created_at']]

In [371]:
display(df_p)

,Year_month,UF,Product,Unit,Volume,Created_at
4536,2000-01,RO,GASOLINA C (m3),m3,136073.253000,2022-08-08 18:51:13.500333
4537,2000-01,AC,GASOLINA C (m3),m3,3358.346000,2022-08-08 18:51:13.500333
4538,2000-01,AM,GASOLINA C (m3),m3,20766.918000,2022-08-08 18:51:13.500333
4539,2000-01,RR,GASOLINA C (m3),m3,3716.032000,2022-08-08 18:51:13.500333
4540,2000-01,PA,GASOLINA C (m3),m3,29755.907000,2022-08-08 18:51:13.500333
...,...,...,...,...,...,...
58963,2020-12,RS,GLP (m3),m3,64045.161232,2022-08-08 18:51:13.500333
58964,2020-12,MS,GLP (m3),m3,16281.139493,2022-08-08 18:51:13.500333
58965,2020-12,MT,GLP (m3),m3,18321.987319,2022-08-08 18:51:13.500333
58966,2020-12,GO,GLP (m3),m3,46850.585145,2022-08-08 18:51:13.500333
58967,2020-12,DF,GLP (m3),m3,133282.702899,2022-08-08 18:51:13.500333

Conferindo os tipos de dados

In [372]:
df_p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54432 entries, 4536 to 58967
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year_month  54432 non-null  period[M]
 1   UF          54432 non-null  string
 2   Product     54432 non-null  string
 3   Unit        54432 non-null  string
 4   Volume      53834 non-null  float64
 5   Created_at  54432 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), period[M](1), string(3)
memory usage: 2.9 MB